/*Footer Styles*/
@media (max-width: 400px) {
  .widget_nav_menu > .widget-title {
    padding: 0;
  }
  .menu-footer-menu-container ul {
    padding: 0;
  }
  .menu-travellers-container {
    padding: 0;
  }
  .siteFooter-widgetArea--3 {
    display: none;
  }
  .siteFooter-widgetArea--3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .siteFooter-widgetArea--1 {
    max-width: 50%;
  }
  .siteFooter-widgetArea--2 {
    max-width: 50%;
  }
  .siteFooter-middle-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .siteFooter-widgetArea--4 {
    display: none;
  }
  .siteFooter-middle-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 400px) and (max-width: 625px) {
  .siteFooter-widgetArea--4 {
    display: none;
  }
  .siteFooter-middle-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list {
  padding-bottom: 35px;
}

.list .title h1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  font-family: Poppins,Arial, Helvetica, sans-serif;
}

.list .map-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list .map-list .area {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .map-list .area p.areaText {
  font-family: Maitree,Georgia, serif;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.list .map-list .area .arrow {
  padding: 12px 0;
}

/*Slider*/
.slider {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  gap: 5px;
  pointer-events: none;
}

.slider .slider-inner .slider-img {
  height: 100%;
  text-align: center;
  padding: 3rem;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentBlockWrapper {
  padding-top: 200px;
}

.postRibbon {
  display: none;
}

.a2a_dd.addtoany_share_save.addtoany_share {
  display: none;
}

.comment-form-comment #comment {
  height: 100px;
}

/*Table of content styles*/
.ez-toc-title {
  font-family: Poppins,Arial, Helvetica, sans-serif !important;
  margin: 0 0 20px;
  line-height: 1;
  font-size: 14px;
}

.siteFooter-widgetArea {
  width: 25%;
}

.widget_nav_menu .menu > li {
  border-bottom: 0px solid rgba(0, 0, 0, 0.08);
}

.widget_nav_menu > div > .menu {
  border: 0px solid rgba(0, 0, 0, 0.08);
  background: transparent;
}

.widget_nav_menu .menu > li > a {
  display: block;
  padding: 0 0px;
  height: 30px;
  line-height: 40px;
}

.menu-footer-menu-container ul {
  padding: 0 0 0 7.1rem;
}

.widget_nav_menu > .widget-title {
  padding: 0 0 0 7.1rem;
  font-weight: bold;
}

.siteFooter-top {
  display: none;
}

.siteFooter-middle {
  padding-top: 80px;
}

.menu-travellers-container {
  padding: 0 0 0 7.2rem;
}

.menu-categories-container {
  padding: 0 0 0 7.2rem;
}

#ez-toc-container {
  width: 100%;
  border: 1px solid #f7f7f7;
}

.ez-toc-title {
  font-weight: 700 !important;
  font-size: 1.563rem !important;
  line-height: 1.3 !important;
}

.postCategories.list-inline {
  margin-top: 1rem;
}

div#ez-toc-container ul li {
  padding-bottom: 1rem;
}

.a2a_svg {
  background: green !important;
}

.a2a_s__default {
  background: green !important;
}

.postMeta--3 {
  padding: 5px 0;
}

.widget-title {
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */