.list{
    padding-bottom: 35px;
    .title h1{
        font-size: 20px;
        font-weight: 700;
        padding-top: 80px;
        padding-bottom: 40px;
        text-align: center;
        font-family: Poppins,Arial, Helvetica, sans-serif;
    }
    .map-list{
        display: flex;
        justify-content: space-around;
    .area {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        p.areaText {
            font-family: Maitree,Georgia, serif;
            margin-top: 20px;
            font-size: 14px;
            font-weight: bold;
        }
        .arrow{
            padding: 12px 0;
        }
    }
    }
}


/*Slider*/

.slider{
	position:  absolute;
	left:  0%;
	top:  90%;
	width:  100%;
	height:  200px;
	overflow: hidden;

    .slider-inner{
        position: absolute;
        top:  0;
        left:  0;
        width: 200%;
        height:  100%;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        gap:  5px;
        pointer-events:  none;

        .slider-img{
            height:  100%;
            text-align:  center;
            padding:  3rem;
            margin: auto;
            justify-content: space-between;
        }
    }
}



