.list{

    .title h1{
        font-size: 20px;
        font-weight: 700;
        padding-top: 100px;
        padding-bottom: 25px;
        font-family: Poppins,Arial, Helvetica, sans-serif;
    }

    .map-slider{
        margin-left: -30px
    }

    .area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        .text {
            font-family: Maitree,Georgia, serif;
            margin-top: 20px;
            font-size: 14px;
            font-weight: bold;
            margin-top:15px;
        }
        .arrow{
            padding: 6px 0;
        }
    }


}






   




    .slider-img{
        height:  100%;
        text-align:  center;
        padding:  3rem;
        margin: auto;
        justify-content: space-between;
    }
